.content1 {
    margin: 10px 0 0 0;

    @include media-q {
        display: none;
        padding: 0px;
    }

    background-color: #FFF;
    padding: 10px 3px 0px 3px;

    &__home {
        @include media-q {
            display: flex;
            align-items: center;
        }
    }

    &__text {
        text-align: center;
        padding: 10px 0px 10px 0px;

        @include media-q {
            text-align: left;
            padding: 0px 114px 0px 19px;
        }
    }

    &__image {
        background-image: url(../images/me.jpg);
        background-repeat: no-repeat;
        background-size: 270px 358px;
        width: 270px;
        height: 370px;
        margin: 20px 15px 0px 15px;

        @include media-q {
            background-size: 370px 468px;
            width: 370px;
            height: 468px;

            margin: 0px 0px 0px 0px;
        }
    }
}

.first-title {
    font-size: 30px;
    font-weight: $font-weight+200;
    color: #363636;

    @include media-q {
        font-size: 60px;
    }
}

.subtitle {
    font-size: 18px;
    color: #777777;
    font-weight: $font-weight;

    @include media-q {
        font-size: 36px;
    }
}
