.tab {
    margin: 18px 0px 15px 39px;

    &__option {
        display: none;

    }

    &__icon {
        font-size: 29px;
        color: #FFF;
        opacity: 0.5;
        margin: 0px 15px 0px 15px;
    }
}
