.tabs {
    margin: 18px 0px 0px 0px;
    text-align: center;
    
    @include media-q {
        text-align: center;
        margin-bottom: 60px;
    }

    &__option {
        display: none;
    }

    &__icon {
        font-size: 29px;
        color: #FFF;
        opacity: 0.5;
        margin: 0px 23px 0px 23px;

        @include media-q {
            font-size: 45px;
            width: 57px;
        }

    }

    input:checked + label{

        @include media-q {
            opacity: 1;

            &:not([for="tab4"])
            {
                &::after {
                    content: '';
                    position: relative;
                    top: 10px;
                    left: 0px;
                    border-left: solid 0.6em transparent;
                    border-right: solid 0.6em transparent;
                    border-bottom: solid 0.6em #FFF;
                    display: block;
                    animation: showContent 2s;
                }
            }
        }
    }
}

@keyframes showContent {
    from {opacity: 0;}
    to {opacity:1;}
}
